@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap");

:root {
  --main: #c7ef00;
  --main-disabled: #c7ef0044;
  --secondary: #0b132b;
}

body {
  box-sizing: border-box;
  background-color: var(--secondary);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}
